<% if @date.errors.any? %>
	<div class="alert alert-danger">
		<strong>Il formulario non è valido.</strong><br />
		<ul>
			<% for message in @date.errors.full_messages %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @date, html: {:novalidate => "novalidate", name: "dateForm", class: "form-horizontal" } do |f| %>	
	<div class="form-group">
		<%= f.label :day, "Giorno", :class => "col-sm-3 control-label" %>
   		<div class="col-sm-2">
   			<%= f.select :day, options_for_select((1..31), @date.day), {}, {:class => "form-control"} %> 
   		</div>
   		<%= f.label :month, "Mese", :class => "col-sm-3 control-label" %>
   		<div class="col-sm-3">
   			<%= f.select :month, options_for_select((1..12).map {|n| [I18n.t("date.month_names")[n].capitalize, n] }, @date.month), {}, {:class => "form-control"} %> 
   		</div>
   	</div>
	
	<div class="col-sm-9 col-sm-offset-3">
		<%= f.hidden_field :building_id, :value => cookies[:building] %>
		<%= f.submit :class => "btn btn-lg btn-primary", :"ng-disabled" => "dateForm.$invalid"%>
	</div>
<% end %>