<div class="row" ng-controller="invoiceTableController">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3>Fatture</h3>
		<%= form_tag("/invoices", :method => "get", :class => "form-inline") do %>
			<div class="form-group">
				<%= label_tag :apartment_id, "Appartamento", :class => "control-label" %>
				<%= select_tag :apartment_id, options_from_collection_for_select(@apartments, "id", "name", params[:apartment_id]), {:class => "form-control", :prompt => "Seleziona" } %>
			</div>
			<button type="submit" class="btn btn-warning">Filtrare per Appartamento</button>
		<% end %>
		
		<div style="margin:20px;" class="text-right">
			<%= form_tag("/invoices/generate", :method => "post", :class => "form-inline") do %>
				<div class="form-group">
					<%= label_tag "date", "Data", :class => "control-label" %>
				  	<%= text_field_tag "date", nil, :class => "form-control", :"bs-datepicker" => "dd/MM/yyyy", :"data-date-format" => "dd-MM-yyyy", :"data-autoclose" => "1", :placeholder => "Data", :"ng-model" => "date", :"date-type" => "string" %>
					<button type="submit" class="btn btn-danger">Simulare la data della fattura</button>
				</div>
			<% end %>
		</div>
		<p class="text-right"><%= link_to "Creare Fattura", new_invoice_path %></p>
		<% if @invoices.length > 0 %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Numero</th>
						<th>Appartamento</th>
						<th>Totale</th>
						<th>Periodo</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @invoices.each do |invoice| %>
						<tr>
							<td><%= invoice.number %></td>
							<td><%= invoice.lease.apartment.name %></td>
							<td><%= number_to_currency(invoice.total) %></td>
							<td><%= I18n.t("date.month_names")[invoice.start_date.month].titleize %>, <%= invoice.start_date.year %></td>
							<% unless invoice.approved? %>
							<td><%= link_to "Approvare", approve_invoice_path(invoice.id) %></td>
							<% else %>
							<td><%= invoice.status %></td>
							<% end %>
							<td><%= link_to("Modifica", edit_invoice_path(invoice.id)) unless invoice.approved? %></td>
							<td><%= link_to "Scaricare", download_invoice_path(invoice.id) %></td>
							<td><%= link_to("Rimuovi", invoice_path(invoice.id), :"data-confirm" => "Sei securo?", method: :delete) unless invoice.approved? %></td>
						</tr>
					<% end %>
					
				</tbody>
			</table>
		<% else %>
			<p>Non ci sono fatture disponibili</p>
		<% end %>
	</div>
</div>