<div class="row">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3>Amministratori</h3>
		<p class="text-right"><%= link_to "Aggiungi amministratore", new_user_path %></p>
		<% if @users.length > 0 %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th colspan="2">Azioni</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td><%= user.name %></td>
							<td><%= user.email %></td>
							<td><%= link_to "Modifica", edit_user_path(user.id) %></td>
							<td><%= link_to "Rimuovi", user_path(user.id), confirm: "Sei securo?", method: :delete %></td>
						</tr>
					<% end %>
					
				</tbody>
			</table>
		<% else %>
			<p>Attualmente non ci sono amministratori disponibili</p>
		<% end %>
	</div>
</div>