<% if flash[:notice].present? %>
	<div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
<% end %>
<h3>Benvenuto <%= logged_user.name %></h3>
<hr />
<% if logged_user.admin? %>
	<div class="row calendar-box" ng-controller="CalendarController">
		<div class="row">
			<div class="form-group col-xs-3" ng-hide="'<%= cookies[:building].present? || 'false' %>' != 'false' " ng-init="building='<%= cookies[:building] %>'">
				<label for="building_id" class="control-label">Edificio</label>
				<%= select_tag "building_id", options_from_collection_for_select(buildings, "id", "name"), {:prompt => "Seleziona", :class => "form-control", :"ng-model" => "building", :"ng-required" => true} %>
			</div>

			<div class="form-group col-xs-3">
				<label for="apartment_id" class="control-label">Appartamento</label>
				<select name="event[apartment_id]" class="form-control" ng-model="apartment" ng-options="option.id as option.name for option in apartments">
					<option value="">Seleziona</option>
				</select>
			</div>

			<div class="form-group col-xs-3">
				<label for="user_id" class="control-label">Inquilino</label>
				<select name="event[user_id]" class="form-control" ng-model="tenant" ng-options="option.id as option.name for option in tenants">
					<option value="">Seleziona</option>
				</select>
			</div>
			
			<div class="form-group col-xs-2">
				<label for="label" class="control-label">Etichetta</label>
				<%= select_tag "label", options_for_select(@labels), {:prompt => "Seleziona", :class => "form-control label-filter", :"ng-model" => "label" } %>
			</div>
			
			<div class="col-xs-1" style="margin-top:25px;">
				<a href="javascript:;" class="btn btn-default btn-sm" placement="bottom" tooltip-url="/events/new" title ="Nuovo Evento" erli-tooltip="popover"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
			</div>
		</div>
	
		<div class="col-sm-12">
			<div class="row cal-control">
				<div class="col-xs-6 text-left">
					<div class="btn-group" ng-if="calendarControl.showControls()">
						<button class="btn btn-primary" ng-click="calendarControl.prev()">Precedente</button>
						<button class="btn btn-default" ng-click="setCalendarToToday()">Oggi</button>
						<button class="btn btn-primary" ng-click="calendarControl.next()">Successivo</button>
					</div>
				</div>
				<div class="col-xs-6 text-right">
					<div class="btn-group">
						<button class="btn btn-warning" ng-click="setCalendarView('month')">Mese</button>
						<button class="btn btn-warning" ng-click="setCalendarView('day')">Giorno</button>
						<button class="btn btn-warning" ng-click="setCalendarView('agenda')">Agenda</button>
						<button class="btn btn-warning" ng-click="setCalendarView('trash')">Cestino</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3 class="month-title text-center">{{ calendarControl.getTitle() }}</h3>
				</div>
			</div>
	
			<div calendar calendar-view="calendarView" calendar-current-day="calendarDay" calendar-control="calendarControl" calendar-auto-open="true" calendar-filter="filter"></div>
		</div>
	</div>
	
<% else %>
	<div class="row">
		<div class="col-sm-12">
			<% if flash[:notice] %>
				<div class="alert alert-success"><%= flash[:notice] %></div>
			<% elsif flash[:alert] %>
				<div class="alert alert-danger"><%= flash[:alert] %></div>
			<% end %>

			<div class="row">
				<h3>Avvertenze</h3>
				<% count = 0 %>
				<% if @unpaid_mavs.size > 0 && @warnings.size > 0 %>
					<% @unpaid_mavs.each do |mav| %>
						<% warning = UnpaidWarning.closest_to_expiration_day(mav, @warnings) %>
						<% if warning && mav.days_since_expired >= warning.days %>
							<% cl = warning.flashing? ? "class = blink" : '' %>
							<div style="color: #fff; background-color: <%= warning.background %>; padding:20px;border:1px solid <%= warning.background %>;border-radius:4px;">
								<div <%= cl %>>
									<p><strong>Scadenza MAV: <%= mav.expiration_value_it %></strong></p>
									<p><strong><%= warning.text %></strong></p>
								</div>
							</div>
							<% count += 1 %>
						<% end %>
					<% end %>
				<% end %>
			
				<% if @unpaid_mavs.size < 1 || @warnings.size < 1 || count < 1 %>
					<% if @setup && @setup.default_warning.present? %>
						<p><%= @setup.default_warning %></p>
					<% else %>
						<p>Attualmente non ci sono avvertenze</p>
					<% end %>
				<% end %>
			</div>

			<% if @latest_ad %>
				<div class="row">
					<hr />
					<h3>Annuncio Più Recente</h3>
					<div class="row alert alert-info" style="border-color:#31708f;margin:20px 5px;">
						<div class="col-sm-10 col-sm-offset-1">
							<% if @latest_ad.ad_attachments.length > 0 %>
							    <div id="slider<%= @latest_ad.id %>_container" style="position: relative; top: 0px; left: 0px; width: 720px; height: 405px; overflow: hidden; margin: 0 auto 20px;" class="ad-images">

							        <!-- Loading Screen -->
							        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
							            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
							                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
							            </div>
							            <div style="position: absolute; display: block; background: url(<%= asset_path('loading.gif') %>) no-repeat center center;
							                top: 0px; left: 0px;width: 100%;height:100%;">
							            </div>
							        </div>

							        <!-- Slides Container -->
							        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 720px; height: 405px; overflow: hidden;">
										<% @latest_ad.ad_attachments.each do |attachment| %>
								            <div>
								                <img u="image" src="<%= attachment.image.url %>" />
								            </div>
										<% end %>
							        </div>

							        <div u="navigator" class="jssorb05">
							            <div u="prototype"></div>
							        </div>
									<% if @latest_ad.ad_attachments.size > 1 %>
							        <!-- Arrow Left -->
								        <span u="arrowleft" class="jssora12l" style="width: 30px; height: 46px; top: 183px; left: 0px;"></span>
								        <!-- Arrow Right -->
								        <span u="arrowright" class="jssora12r" style="width: 30px; height: 46px; top: 183px; right: 0px"></span>					
									<% end %>
							    </div>
							<% end %>
							<div class="text-center">
								<p><%= @latest_ad.description %></p>
								<p><strong style="color:#000;">Prezzo</strong><br /><%= number_to_currency(@latest_ad.amount) %></p>
								<p><strong style="color:#000;">Informazione Sui Conttati:</strong><br /><%= @latest_ad.contact %></p>
							</div>
						</div>
					</div>
					<div class="row">
						<p class="text-right" style="margin:20px 20px 50px 20px;font-size:16px;">
							<%= link_to ads_path, {} do %>
								<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>  Vedere più annunci
							<% end %>
						</p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
<% end %>