<div class="row">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3>CSVs Per Mavs</h3>
		<p class="text-right">
			<%= link_to "Nuovo", generate_csv_mav_path, :class => "btn btn-info" %>
		</p>
		
		<% if @files.length > 0 %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Stato</th>
						<th colspan="3">Azioni</th>
					</tr>
				</thead>
				<tbody>
					<% @files.each do |file| %>
						<tr>
							<td><%= file.name %></td>
							<td><%= file.status %></td>
							<td><% if file.uploaded? %>
									<%= link_to "Cambiare a Appena Generato", set_status_csv_mav_path(file.id) %>
								<% else %>
									<%= link_to "Cambiare a Caricato", set_status_csv_mav_path(file.id) %>
								<% end %>
							</td>
							<td><% if !file.uploaded? %>
									<%= link_to "Rimuovi", destroy_csv_mav_path(file.id), :"data-confirm" => "Sei securo?", method: :delete %>						
								<% end %>
								</td>
							<td><%= link_to "Scaricare", download_csv_mav_path(file.id) %></td>
						</tr>
					<% end %>
					
				</tbody>
			</table>
		<% else %>
			<p>Attualmente non ci sono csvs per mav disponibili</p>
		<% end %>
	</div>
</div>