<div class="row" ng-controller="mavTableController">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3>MAVs</h3>
		<hr />
		<div class="row">
			<div class="col-sm-6">
				<div class="row" style="background-color:#fff;padding:10px;border-radius:2px;border:1px solid #fff; margin-bottom:20px;margin-left:5px;">
					<%= form_tag upload_batch_mavs_path, multipart: true do %>
						<div>
							<div class="form-group col-sm-8">
								<label for="file" class="control-label">Carica MAVs Zip</label><br /><br/>
								<%= file_field_tag :file %>
							</div>
							<div class="form-group col-sm-4" style="margin-top:20px;">
								<%= submit_tag "Caricare", :class => "btn btn-primary" %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<%= form_tag "/mavs", :method => :get do %>
				<div class="form-group col-sm-3">
					<label for="apartment" class="control-label">Apartamento</label>
					<%= select_tag "apartment", options_from_collection_for_select(@apartments, "id", "name", params[:apartment].to_i), { :prompt => "Seleziona", :class => "form-control" } %>
				</div>
				<div class="form-group col-sm-3">
					<label for="user" class="control-label">Utente</label>
					<%= select_tag "user", options_from_collection_for_select(@users, "id", "name", params[:user].to_i), { :prompt => "Seleziona", :class => "form-control" } %>
				</div>
				<div class="form-group col-sm-3">
					<label for="invoice" class="control-label">Fattura</label>
					<%= select_tag "invoice", options_from_collection_for_select(@invoices, "id", "number", params[:invoice].to_i), { :prompt => "Seleziona", :class => "form-control" } %>
				</div>
				<div class="form-group col-sm-3" style="margin-top:20px;">
					<%= submit_tag "Filtrare", :class => "btn btn-primary" %>
				</div>
			<% end %>
		</div>
		
		
		<% if @mavs.length > 0 %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Apartamento</th>
						<th>Numero di Fattura</th>
						<th>Totale</th>
						<th>Data</th>
						<th>Stato</th>
						<th>Azioni</th>
					</tr>
				</thead>
				<tbody>
					<% @mavs.each do |mav| %>
						<tr>
							<td><%= mav.user.name %></td>
							<td><%= mav.user.lease.apartment.name %></td>
							<td><%= link_to("Fattura " + mav.invoice.number.to_s, download_invoice_path(mav.invoice.id)) %></td>
							<td><%= number_to_currency(mav.amount) %></td>
							<td><%= mav.created_at.strftime("%d-%m-%Y") %></td>
							<td><%= mav.status %></td>
							<td class="download-link-<%= mav.id %>"><% if mav.document.present? %>
								<%= link_to "Scaricare MAV", download_mav_path(mav.id) %>
								<% end %>
							</td>
						</tr>
					<% end %>
					
				</tbody>
			</table>
		<% else %>
			<p>Non ci sono mav disponibili</p>
		<% end %>
	</div>
</div>