<div class="row" ng-controller="mavTableController">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3>MAVs</h3>
		<hr />
		<div class="row">
			<div class="col-sm-6">
				<div class="row" style="background-color:#fff;padding:10px;border-radius:2px;border:1px solid #fff; margin-bottom:20px;margin-left:5px;">
					<%= form_tag report_paid_mavs_path, multipart: true do %>
						<div>
							<div class="form-group col-sm-8">
								<label for="file" class="control-label">File Resoconto MAV Pagati</label><br /><br/>
								<%= file_field_tag :file %>
							</div>
							<div class="form-group col-sm-4" style="margin-top:20px;">
								<%= submit_tag "Caricare", :class => "btn btn-primary" %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<%= form_tag "/unpaid", :method => :get do %>
				<div class="form-group col-sm-3">
					<label for="apartment" class="control-label">Apartamento</label>
					<%= select_tag "apartment", options_from_collection_for_select(@apartments, "id", "name"), { :prompt => "Seleziona", :class => "form-control" } %>
				</div>
				<div class="form-group col-sm-3">
					<label for="user" class="control-label">Utente</label>
					<%= select_tag "user", options_from_collection_for_select(@users, "id", "name"), { :prompt => "Seleziona", :class => "form-control" } %>
				</div>
				<div class="form-group col-sm-3">
					<label for="invoice" class="control-label">Data</label>
					<%= select_tag "expiration", options_from_collection_for_select(@dates, "expiration_value_it", "expiration_value_it"), { :prompt => "Seleziona", :class => "form-control" } %>
				</div>
				<div class="form-group col-sm-3" style="margin-top:20px;">
					<%= submit_tag "Filtrare", :class => "btn btn-primary" %>
				</div>
			<% end %>
		</div>
		
		<div class="row">
			<% if @mavs.length > 0 %>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Apartamento</th>
							<th>Numero di Fattura</th>
							<th>Totale</th>
							<th>Scadenza</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @mavs.each do |mav| %>
							<tr>
								<td><%= mav.user.name %></td>
								<td><%= mav.user.lease.apartment.name %></td>
								<td><%= mav.invoice.number %></td>
								<td><%= number_to_currency(mav.amount) %></td>
								<td><%= mav.expiration.strftime("%d-%m-%Y") %></td>
								<td class="download-link-<%= mav.id %>"><% if mav.document.present? %>
									<%= link_to "Scaricare MAV", "#" %>
									<% end %>
								</td>
							</tr>
						<% end %>
					
					</tbody>
				</table>
			<% else %>
				<p>Non ci sono mav disponibili</p>
			<% end %>
		</div>
	</div>
</div>