<div class="row">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3>Edifici</h3>
		<p class="text-right"><%= link_to "Creare Edificio", new_building_path %></p>
		<% if @buildings.length > 0 %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Creato</th>
						<th colspan="2">Azioni</th>
					</tr>
				</thead>
				<tbody>
					<% @buildings.each do |building| %>
						<tr>
							<td><%= building.name %></td>
							<td><%= building.created_at.strftime("%d-%m-%Y") %></td>
							<td><%= link_to "Modificare", edit_building_path(building.id) %></td>
							<td><%= link_to "Cancellare", building_path(building.id), :"data-confirm" => "Sei sicuro?", method: :delete %></td>
						</tr>
					<% end %>
					
				</tbody>
			</table>
		<% else %>
			<p>Attualmente non ci sono edifici disponibili</p>
		<% end %>
	</div>
</div>