<% if @table.errors.any? %>
	<div class="alert alert-danger">
		<strong>Il formulario non è valido.</strong><br />
		<ul>
			<% for message in @table.errors.full_messages %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @table, html: {:novalidate => "novalidate", name: "tableForm", class: "form-horizontal" } do |f| %>
	<div class="form-group" ng-class="{'has-error':tableForm['repartition_table[name]'].$dirty && tableForm['repartition_table[name]'].$invalid }">
		<%= f.label :name, "Nome", :class => "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :name, :class => "form-control", :placeholder => "Name", :"ng-model" => "name", :"ng-required" => true %>
			<span class="error-message" ng-show="tableForm['repartition_table[name]'].$dirty && tableForm['repartition_table[name]'].$invalid">Nome è richiesto.</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-9 col-sm-offset-3 text-left">Percentuali per Appartamento</label>
	</div>
	<% floor = nil %>
	<%= f.fields_for :apartment_repartition_tables do |rt| %>
		<% if floor != rt.object.floor %>
			<div class="form-group">
				<label class="col-sm-9 col-sm-offset-3 text-left">Piano <%= floor = rt.object.floor %></label>
			</div>
		<% end %>
		<div class="form-group" ng-class="{'has-error':tableForm['repartition_table[apartment_repartition_tables_attributes][<%= rt.index %>][percentage]'].$dirty && tableForm['repartition_table[apartment_repartition_tables_attributes][<%= rt.index %>][percentage]'].$invalid }">
			<%= rt.label :percentage, rt.object.apartment.name, :class => "col-sm-3 col-sm-offset-3 control-label" %>
			<div class="col-sm-3">
				<%= rt.text_field :percentage, :class => "form-control", :placeholder => "Percentuale", :"ng-model" => "percentage" +  rt.index.to_s, :"ng-required" => true %>
				<span class="error-message" ng-show="tableForm['repartition_table[apartment_repartition_tables_attributes][<%= rt.index %>][percentage]'].$dirty && tableForm['repartition_table[apartment_repartition_tables_attributes][<%= rt.index %>][percentage]'].$invalid">Percentuale è richiesto.</span>
			</div>
			<%= rt.hidden_field :apartment_id, :value => rt.object.apartment.id %>
			<%= rt.hidden_field :floor, :value => rt.object.apartment.floor %>
			<%= rt.hidden_field :name, :value => rt.object.apartment.name %>
		</div>
	<% end %>
	
	<div class="col-sm-9 col-sm-offset-3">
		<% submit_text = @table.new_record? ? "Aggiungi" : "Aggiorna" %>
		<%= f.hidden_field :building_id, :value => cookies[:building] %>
		<%= f.submit submit_text, :class => "btn btn-lg btn-primary", :"ng-disabled" => "tableForm.$invalid"%>
	</div>
<% end %>