<div class="row">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3>Tabelle di Ripartizione</h3>
		<p class="text-right"><%= link_to "Aggiungi Tabella di Ripartizione", new_repartition_table_path %></p>
		<% if @tables.length > 0 %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Aggiornato</th>
						<th>Creato</th>
						<th colspan="2">Azioni</th>
					</tr>
				</thead>
				<tbody>
					<% @tables.each do |table| %>
						<% in_event = @event.present? && @event.description.split(", ").include?(table.name) %>
						<% update_text = in_event ? "Aggiungi" : "Modifica" %>
						<% bg_color = in_event ? "#f2dede" : "#ffffff" %>
						<tr style="background-color: <%= bg_color %>">
							<td><%= table.name %></td>
							<td><%= table.updated_at.strftime("%d-%m-%Y") %></td>
							<td><%= table.created_at.strftime("%d-%m-%Y") %></td>
							<td><%= link_to update_text, edit_repartition_table_path(table.id) %></td>
							<td><%= link_to "Rimuovi", repartition_table_path(table.id), :"data-confirm" => "Sei securo?", method: :delete %></td>
						</tr>
					<% end %>
					
				</tbody>
			</table>
		<% else %>
			<p>Attualmente non ci sono tabelle di ripartizione disponibili</p>
		<% end %>
	</div>
</div>