<%= form_for @lease, html: {:novalidate => "novalidate", name: "leaseForm", class: "form-horizontal" } do |f| %>
							
	<%= f.fields_for :user do |u| %>
		<div class="form-group" ng-class="{'has-error':leaseForm['lease[user][first_name]'].$dirty && leaseForm['lease[user][first_name]'].$invalid }">
			<%= u.label :first_name, "Nome", :class => "col-sm-3 control-label" %>	
			<div class="col-sm-9">
				<%= u.text_field :first_name, :class => "form-control", :placeholder => "Nome", :"ng-model" => "first_name", :"ng-required" => true %>
				<span class="error-message" ng-show="leaseForm['lease[user][first_name]'].$dirty && leaseForm['lease[user][first_name]'].$invalid">Nome è richiesto.</span>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error':leaseForm['lease[user][last_name]'].$dirty && leaseForm['lease[user][last_name]'].$invalid }">
			<%= u.label :last_name, "Cognome", :class => "col-sm-3 control-label" %>	
			<div class="col-sm-9">
				<%= u.text_field :last_name, :class => "form-control", :placeholder => "Cognome", :"ng-model" => "last_name", :"ng-required" => true %>
				<span class="error-message" ng-show="leaseForm['lease[user][last_name]'].$dirty && leaseForm['lease[user][last_name]'].$invalid">Cognome è richiesto.</span>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error':leaseForm['lease[user][email]'].$dirty && leaseForm['lease[user][email]'].$invalid }">
			<%= u.label :email, :class => "col-sm-3 control-label" %>	
			<div class="col-sm-9">
				<%= u.text_field :email, :class => "form-control", :placeholder => "Email", :"ng-model" => "email", :"ng-required" => true %>
				<span class="error-message" ng-show="leaseForm['lease[user][email]'].$dirty && leaseForm['lease[user][email]'].$invalid">Email è richiesto.</span>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error':leaseForm['lease[user][codice]'].$dirty && leaseForm['lease[user][codice]'].$invalid }">
			<%= u.label :codice, "Codice fiscale", :class => "col-sm-3 control-label" %>	
			<div class="col-sm-9">
				<%= u.text_field :codice, :class => "form-control", :placeholder => "Codice Fiscale", :"ng-model" => "codice", :"ng-required" => true %>
				<span class="error-message" ng-show="leaseForm['lease[user][codice]'].$dirty && leaseForm['lease[user][codice]'].$invalid">Codice fiscale è richiesto.</span>
			</div>
		</div>
	<% end %>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[percentage]'].$dirty && leaseForm['lease[percentage]'].$invalid }">
		<%= f.label :percentage, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :percentage, :class => "form-control", :placeholder => "Percentuale", :"ng-model" => "percentage", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[percentage]'].$dirty && leaseForm['lease[percentage]'].$invalid">Percentuale è richiesto.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[invoice_address]'].$dirty && leaseForm['lease[invoice_address]'].$invalid }">
		<%= f.label :invoice_address, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :invoice_address, :class => "form-control", :placeholder => "Indirizzo di fatturazione", :"ng-model" => "invoice_address", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[invoice_address]'].$dirty && leaseForm['lease[invoice_address]'].$invalid">Indirizzo di fatturazione è richiesto.</span>
		</div>
	</div>
	
	<% if @contracts.present? %>
	   	<div class="form-group">
	   		<%= f.label :contract_id, "Tipo di Contratto", :class => "col-sm-3 control-label" %>
	   		<div class="col-sm-4">
	   			<%= f.select :contract_id, options_from_collection_for_select(@contracts, "id", "name"), {}, {:class => "form-control"} %>
	   		</div>
	   	</div>
	<% end %>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[amount]'].$dirty && leaseForm['lease[amount]'].$invalid }">
		<%= f.label :amount, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :amount, :class => "form-control", :placeholder => "Quantita", :"ng-model" => "amount", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[amount]'].$dirty && leaseForm['lease[amount]'].$invalid">Quantita è richiesta.</span>
		</div>
	</div>
	
   	<div class="form-group">
   		<%= f.label :payment_frequency, :class => "col-sm-3 control-label" %>
   		<div class="col-sm-4">
   			<%= f.select :payment_frequency, options_for_select([["1", "1 Mese"], ["3", "3 Mesi"]]), {}, {:class => "form-control"} %>
   		</div>
   	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[start_date]'].$dirty && leaseForm['lease[start_date]'].$invalid }">
		<%= f.label :start_date, :class => "col-sm-3 control-label" %>
		<div class="col-sm-4">
			<div class="input-group">
				<%= f.text_field :start_date, :class => "form-control", :"datepicker-popup" => "dd-MM-yyyy", :placeholder => "Data di inizio", :"ng-model" => "start_date", :"ng-required" => true, :"is-open" => "opened" %>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
			</div>
			<span class="error-message" ng-show="leaseForm['lease[start_date]'].$dirty && leaseForm['lease[start_date]'].$invalid">Data di inizio è richiesta.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[end_date]'].$dirty && leaseForm['lease[end_date]'].$invalid }">
		<%= f.label :end_date, :class => "col-sm-3 control-label" %>
		<div class="col-sm-4">
			<div class="input-group">
				<%= f.text_field :end_date, :class => "form-control", :"datepicker-popup" => "dd-MM-yyyy", :placeholder => "Data di fine", :"ng-model" => "end_date", :"ng-required" => true, :"is-open" => "opened" %>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
			</div>
			<span class="error-message" ng-show="leaseForm['lease[end_date]'].$dirty && leaseForm['lease[end_date]'].$invalid">Data di fine è richiesta.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[deposit]'].$dirty && leaseForm['lease[deposit]'].$invalid }">
		<%= f.label :deposit, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :deposit, :class => "form-control", :placeholder => "Cauzione", :"ng-model" => "deposit", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[deposit]'].$dirty && leaseForm['lease[deposit]'].$invalid">Cauzione è richiesto.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[registration_date]'].$dirty && leaseForm['lease[registration_date]'].$invalid }">
		<%= f.label :registration_date, :class => "col-sm-3 control-label" %>
		<div class="col-sm-4">
			<div class="input-group">
				<%= f.text_field :registration_date, :class => "form-control", :"datepicker-popup" => "dd-MM-yyyy", :placeholder => "Data di registrazione", :"ng-model" => "registration_date", :"ng-required" => true, :"is-open" => "opened" %>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
			</div>
			<span class="error-message" ng-show="leaseForm['lease[registration_date]'].$dirty && leaseForm['lease[registration_date]'].$invalid">Data di registrazione è richiesta.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[registration_number]'].$dirty && leaseForm['lease[registration_number]'].$invalid }">
		<%= f.label :registration_number, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :registration_number, :class => "form-control", :placeholder => "Numero di registrazione", :"ng-model" => "registration_number", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[registration_number]'].$dirty && leaseForm['lease[registration_number]'].$invalid">Numero di registrazione è richiesto.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[registration_agency]'].$dirty && leaseForm['lease[registration_agency]'].$invalid }">
		<%= f.label :registration_agency, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :registration_agency, :class => "form-control", :placeholder => "Agenzia di registrazione", :"ng-model" => "registration_agency", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[registration_agency]'].$dirty && leaseForm['lease[registration_agency]'].$invalid">Agenzia di registrazione è richiesta.</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<%= f.hidden_field :apartment_id, :value => @lease.apartment_id %>
			<%= f.submit "Registrato", :class => "btn btn-lg btn-primary", :"ng-disabled" => "leaseForm.$invalid"%>
			<%= f.submit "Salva", :class => "btn btn-lg btn-primary", :"ng-disabled" => "leaseForm.$invalid"%>
		</div>
	</div>
	
<% end %>