<%= form_for @lease, html: {:novalidate => "novalidate", name: "leaseForm", class: "form-horizontal", :target => "iframe" } do |f| %>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[start_date]'].$dirty && leaseForm['lease[start_date]'].$invalid }" ng-init="start_date='<%= @lease.start_date.strftime("%d/%m/%Y") if @lease.start_date.present? %>'">
		<%= f.label :start_date, :class => "col-sm-3 control-label" %>
		<div class="col-sm-4">
			<div class="input-group">
				<%= f.text_field :start_date, :class => "form-control", :placeholder => "Data di inizio", :"ng-model" => "start_date", :"ng-required" => true, :"bs-datepicker" => "dd/MM/yyyy", :"data-date-format" => "dd/MM/yyyy", :"data-autoclose" => "1", :"date-type" => "string" %>
                <span class="input-group-btn">
                  <label for="lease_start_date" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></label>
                </span>
			</div>
			<span class="error-message" ng-show="leaseForm['lease[start_date]'].$dirty && leaseForm['lease[start_date]'].$invalid">Data di inizio è richiesta.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[end_date]'].$dirty && leaseForm['lease[end_date]'].$invalid }" ng-init="end_date='<%= @lease.end_date.strftime("%d/%m/%Y") if @lease.end_date.present? %>'">
		<%= f.label :end_date, :class => "col-sm-3 control-label" %>
		<div class="col-sm-4">
			<div class="input-group">
				<%= f.text_field :end_date, :class => "form-control", :placeholder => "Data di fine", :"ng-model" => "end_date", :"ng-required" => true, :"bs-datepicker" => "dd/MM/yyyy", :"data-date-format" => "dd/MM/yyyy", :"data-autoclose" => "1", :"date-type" => "string" %>
                <span class="input-group-btn">
                  <label class="btn btn-default" for="lease_end_date"><i class="glyphicon glyphicon-calendar"></i></label>
                </span>
			</div>
			<span class="error-message" ng-show="leaseForm['lease[end_date]'].$dirty && leaseForm['lease[end_date]'].$invalid">Data di fine è richiesta.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[invoice_address]'].$dirty && leaseForm['lease[invoice_address]'].$invalid }" ng-init="invoice_address='<%= @lease.invoice_address %>'">
		<%= f.label :invoice_address, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :invoice_address, :class => "form-control", :placeholder => "Indirizzo di fatturazione", :"ng-model" => "invoice_address", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[invoice_address]'].$dirty && leaseForm['lease[invoice_address]'].$invalid">Indirizzo di fatturazione è richiesto.</span>
		</div>
	</div>
	
	<div class="form-group" ng-init="numero_civico='<%= @lease.home_number %>'">
		<%= f.label :home_number, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :home_number, :class => "form-control", :placeholder => "Numero Civico", :"ng-model" => "numero_civico" %>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[cap]'].$dirty && leaseForm['lease[cap]'].$invalid }" ng-init="cap='<%= @lease.cap %>'">
		<%= f.label :cap, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :cap, :class => "form-control", :placeholder => "CAP", :"ng-model" => "cap", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[cap]'].$dirty && leaseForm['lease[cap]'].$invalid">CAP è richiesto.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[localita]'].$dirty && leaseForm['lease[localita]'].$invalid }" ng-init="localita='<%= @lease.localita %>'">
		<%= f.label :localita, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :localita, :class => "form-control", :placeholder => "Localita", :"ng-model" => "localita", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[localita]'].$dirty && leaseForm['lease[localita]'].$invalid">Localita è richiesta.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[provincia]'].$dirty && leaseForm['lease[provincia]'].$invalid }" ng-init="provincia='<%= @lease.provincia %>'">
		<%= f.label :provincia, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :provincia, :class => "form-control", :placeholder => "Provincia", :"ng-model" => "provincia", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[provincia]'].$dirty && leaseForm['lease[provincia]'].$invalid">Provincia è richiesta.</span>
		</div>
	</div>
	
	<% if @contracts.present? %>
	   	<div class="form-group">
	   		<%= f.label :contract_id, "Tipo di Contratto", :class => "col-sm-3 control-label" %>
	   		<div class="col-sm-4">
	   			<%= f.select :contract_id, options_from_collection_for_select(@contracts, "id", "name", @lease.contract_id), {}, {:class => "form-control"} %>
	   		</div>
	   	</div>
	<% end %>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[amount]'].$dirty && leaseForm['lease[amount]'].$invalid }" ng-init="amount='<%= number_with_delimiter(@lease.amount) %>'">
		<%= f.label :amount, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :amount, :class => "form-control", :placeholder => "Quantita", :"ng-model" => "amount", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[amount]'].$dirty && leaseForm['lease[amount]'].$invalid">Quantita è richiesta.</span>
		</div>
	</div>
	
   	<div class="form-group">
   		<%= f.label :payment_frequency, :class => "col-sm-3 control-label" %>
   		<div class="col-sm-4">
   			<%= f.select :payment_frequency, options_for_select([["1 Mese", "1"], ["3 Mesi", "3"]], @lease.payment_frequency), {}, {:class => "form-control"} %>
   		</div>
   	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[deposit]'].$dirty && leaseForm['lease[deposit]'].$invalid }" ng-init="deposit='<%= number_with_delimiter(@lease.deposit) %>'">
		<%= f.label :deposit, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :deposit, :class => "form-control", :placeholder => "Cauzione", :"ng-model" => "deposit", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[deposit]'].$dirty && leaseForm['lease[deposit]'].$invalid">Cauzione è richiesto.</span>
		</div>
	</div>
	
	<%= f.fields_for :asset_expenses do |ae| %>
		<div class="form-group" ng-class="{'has-error':leaseForm['lease[asset_expenses_attributes][<%= ae.index %>][amount]'].$dirty && leaseForm['lease[asset_expenses_attributes][<%= ae.index %>][amount]'].$invalid }" 
			ng-init="amount<%= ae.index.to_s %>='<%= number_with_delimiter(ae.object.amount) %>'">
			<%= ae.label :amount, ae.object.expense.name, :class => "col-sm-3 control-label" %>
			<div class="col-sm-9">
				<%= ae.text_field :amount, :class => "form-control", :placeholder => "Quantita", :"ng-model" => "amount" +  ae.index.to_s, :"ng-required" => true %>
				<span class="error-message" ng-show="leaseForm['lease[asset_expenses_attributes][<%= ae.index %>][amount]'].$dirty && leaseForm['lease[asset_expenses_attributes][<%= ae.index %>][amount]'].$invalid"><%= ae.object.expense.name %> è richiesto.</span>
			</div>
			<%= ae.hidden_field :expense_id, :value => ae.object.expense.id %>
		</div>
	<% end %>
	
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<%= f.hidden_field :apartment_id, :value => @lease.apartment_id %>
			<%= f.submit "Salva", :class => "btn btn-primary", :"ng-disabled" => "leaseForm.$invalid" %>
			<button type="button" class="btn btn-default" ng-click="$hide()">Chiudere</button>
		</div>
	</div>
	
<% end %>
<iframe name="iframe" id="iframe" style="display:none" ></iframe>
<script type="text/javascript">
$("#iframe").on("load", function(e){
	var errors = $(this).contents().find("body").text();
	if(errors){
		var errs = JSON.parse(errors);
		var errorsList = $(".leaseFormErrors").html("");
		errs.forEach(function(err){
			errorsList.append("<li>" + err + "</li>");
		});
	}
	else {
		window.location = "/leases";
	}
});
</script>
