<% if lease.users.size > 0 %>
		<div class="col-sm-12">
			<div class="row" style="margin:10px;">
				<hr />
				<h4 style="margin:4px;">Inquilini</h4>
			</div>
		</div>
		<% lease.users.where(:secondary => false).all.each do |t| %>
			<div class="col-sm-12">
				<div class="row" style="margin:10px;">
					<hr style="margin-top:0" />
					<div class="col-sm-4">
						<p><strong>Nome:</strong> <%= t.name %></p>
						<p><strong>Email:</strong> <%= t.email %></p>
					</div>
					<div class="col-sm-4">
						<p><strong>Percentuale:</strong> <%= t.percentage %></p>
						<p><strong><%= t.partita_iva? ? "Partita IVA" : "Codice Fiscale:" %></strong> <%= t.codice_fiscale %></p>
					</div>
					<div class="col-sm-4">
						<p><strong><%= link_to "Modificare", "#", :"ng-click" => "openModal($event,'#{edit_lease_tenant_path(lease.id, t.id)}')" %></strong></p>
						<p><strong><%= link_to "Nuovo Utente Secondario", "#", :"ng-click" => "openModal($event,'#{new_lease_tenant_path(lease.id)}')" %></strong></p>
						<% if lease.registration_date.blank? %>
						<p><strong><%= link_to "Cancellare", lease_tenant_path(lease.id, t.id), :"data-confirm" => "Sei securo?", method: :delete %></strong></p>
						<% end %>
					</div>
				</div>
				<% if t.friends.size > 0%>
				<div class="row" style="margin:10px;">
					<div class="col-sm-12">
						<p><strong>Utenti secondari</strong></p>
					</div>
				</div>
				<% end %>
				<% t.friends.each do |f| %>
					<div class="row" style="margin:10px;">
						<div class="col-sm-4">
							<p><strong>Nome:</strong> <%= f.name %></p>
						</div>
						<div class="col-sm-4">
							<p><strong>Email:</strong> <%= f.email %></p>
						</div>
						<div class="col-sm-4">
							<p><strong><%= link_to "Modificare", "#", :"ng-click" => "openModal($event,'#{edit_lease_tenant_path(lease.id, f.id)}')" %> | <%= link_to "Cancellare", lease_tenant_path(lease.id, f.id), :"data-confirm" => "Sei securo?", method: :delete %> </strong></p>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
<% end %>