<div class="row">
	<div class="col-sm-12">
		<p class="text-right">
			<%= link_to leases_path, {} do %> 
			<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>  Tornare alla Locazioni
			<% end %>
		</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3>Storia di Locazione per Appartamento <%= @apartment.name %></h3>
		<div style="margin:20px;" class="text-right">
			<%= form_tag history_lease_path(@apartment.id), :method => "post", :class => "form-inline" do %>
			  <div class="form-group">
			    <label for="search" class="sr-only">Cercare</label>
			    <input type="text" class="form-control" id="search" name="search" placeholder="Cercare" />
			  </div>
			  <button type="submit" class="btn btn-default">Cercare</button>
			<% end %>
		</div>
		
		<% if @leases.length > 0 %>
			<table class="table table-collapsed">
				<thead>
					<tr>
						<th></th>
						<th>Nomi</th>
						<th>Data di Inizio</th>
						<th>Data di Fine</th>
						<th>Data di Chiuso</th>
					</tr>
				</thead>
				<tbody>
					<% @leases.each do |lease| %>
						<tr class="<%= lease.resolved? ? "success" : "danger" %>">
							<td><a href="#" class="toggle-table"><small class="glyphicon glyphicon-plus" aria-hidden="true"></small></a></td>
							<td><%= truncate(lease.cached_tenants.map {|c| c.name }.join(","), :length => 40) %></td>
							<td><%= lease.start_date.strftime("%d-%m-%Y") %></td>
							<td><%= lease.end_date.strftime("%d-%m-%Y") %></td>
							<td><%= lease.inactive_date.strftime("%d-%m-%Y") %></td>
						</tr>
						<tr class="child-table">
							<td colspan="5" style="background-color: #fff;">
								<div class="row summary">
									<div class="col-sm-4">
										<p><strong>Data di registrazione:</strong> <%= lease.registration_date.strftime("%d-%m-%Y") %></p>
										<p><strong>Numero di registrazione:</strong> <%= lease.registration_number %></p>
										<p><strong>Agenzia di registrazione:</strong> <%= lease.registration_agency %></p>
									</div>
									<div class="col-sm-4">
										<p><strong>Percentuale:</strong> <%= number_to_percentage(lease.percentage) %></p>
										<p><strong>Tipo di contratto:</strong> <%= lease.contract.try(:name) %></p>
										<p><strong>Indirizzo di fatturazione:</strong><br /> <%= lease.address %></p>
										<p><strong>Frequenza di pagamento:</strong> <%= lease.payment_frequency %> Mese</p>
									</div>
									<div class="col-sm-4">
										<p><strong>Canone di Locazione:</strong> <%= number_to_currency(lease.amount) %></p>
										<p><strong>Cauzione:</strong> <%= number_to_currency(lease.deposit) %></p>
										<% lease.asset_expenses.each do |e| %>
											<p><strong><%= e.expense.name %>:</strong> <%= number_to_currency(e.amount) %></p>
										<% end %>
									</div>
									<% if lease.cached_tenants.size > 0 %>
										<div class="col-sm-12">
											<div class="row" style="margin:10px;">
												<hr />
												<h4 style="margin:4px;">Inquilini</h4>
											</div>
										</div>
										<% lease.cached_tenants.each do |user| %>
											<div class="col-sm-12">
												<div class="row" style="margin:10px;">
													<hr style="margin-top:0" />
													<div class="col-sm-6">
														<p><strong>Nome:</strong> <%= user.name %></p>
														<p><strong>Email:</strong> <%= user.email %></p>
													</div>
													<div class="col-sm-6">
														<p><strong>Percentuale:</strong> <%= user.percentage %></p>
														<p><strong><%= user.partita_iva? ? "Partita IVA" : "Codice Fiscale:" %></strong> <%= user.codice_fiscale %></p>
													</div>
												</div>
											</div>
										<% end %>
									<% end %>
									<%= render :partial => "lease_files", :locals => {:lease => lease } %>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<p>Non ci sono storia disponibili</p>
		<% end %>
	</div>
</div>