<div class="row" ng-controller="leaseTableController">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3>Locazioni</h3>
		<% if @apartments.length > 0 %>
			<table class="table table-collapsed">
				<thead>
					<tr>
						<th></th>
						<th>Numero</th>
						<th>Stato</th>
						<th>Occupazione (%)</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @apartments.each do |apartment| %>
						<tr class="<%= lease_row_class(apartment.status) %>">
							<td><a href="#" class="toggle-table"><small class="glyphicon glyphicon-file" aria-hidden="true"></small></a></td>
							<td><%= apartment.name %></td>
							<td><%= apartment.status %></td>
							<td><%= apartment.percentage %></td>
							<td><%= link_to "Mostrare", "#" %></td>
							<td><% if apartment.status == "Occupato" %>
									<%= link_to "Chiudere", "#" %>
								<% else %>
									<%= link_to "Registrati Locazione", "#", :"ng-click" => "openForm($event, #{apartment.id})"  %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<p>Attualmente non ci sono locazioni disponibili</p>
		<% end %>
	</div>
</div>