<div class="row" ng-controller="leaseTableController">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3>Locazioni</h3>
		<% if @apartments.length > 0 %>
			<table class="table table-collapsed">
				<thead>
					<tr>
						<th></th>
						<th>Numero</th>
						<th>Stato</th>
						<th>Occupazione</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @apartments.each do |apartment| %>
						<tr class="<%= lease_row_class(apartment.status) %>">
							<td>
								<a href="#"><small class="glyphicon glyphicon-file" aria-hidden="true" tooltip="Scaricare file di locazione"></small></a></td>
							<td><%= apartment.name %></td>
							<td><%= apartment.status %></td>
							<td><%= number_to_percentage(apartment.percentage) %></td>
							<td><% unless apartment.status == "Disponibile" %>
									<%= link_to("Mostrare", "#", :class => "toggle-table") %>
								<% end %>
							</td>
							<td>
								<% unless apartment.status == "Occupato" %>
									<%= link_to "Registrati Locazione", "#", :"ng-click" => "openForm($event, #{apartment.id})"  %>
								<% end %>
							</td>
							<td>
								<a href="#"><i class="fa fa-history" tooltip="Storia locazione"></i>
							</td>
						</tr>
						<% if apartment.leases.size > 0 %>
							<tr class="child-table">
								<td colspan="7" style="background-color: #fff;">
									<% apartment.leases.each do |lease| %>
										<% primary_user = lease.users.where("secondary = false").first %>
										<p>Nome: <%= primary_user.name %></p>
										<p>Email: <%= primary_user.email %></p>
										<hr />
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<p>Attualmente non ci sono locazioni disponibili</p>
		<% end %>
	</div>
</div>