<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
		<div class="modal-content" ng-controller="leaseAttachmentFormController">
			<div class="modal-header">
				<h3>Nuovo Documente per Appartamento <%= @apartment.name %></h3>
			</div>

			<div class="modal-body">
				<%= form_for @lease, html: {:novalidate => "novalidate", name: "attachmentForm", class: "form-horizontal", :multipart => true, :target => "iframe" } do |f| %>
	
					<%= f.fields_for :lease_attachments, @lease.lease_attachments.build do |la| %>
						<div class="form-group">
							<%= la.label :document, "Documente", :class => "col-sm-3 control-label" %>	
							<div class="col-sm-9">
								<p><%= la.file_field :document, :placeholder => "Documente" %>
								   <%= la.check_box :lease_document %> <label class="control-label">Documento di locazione?</label> 
								</p>
							</div>
						</div>
					<% end %>
	
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<%= f.submit "Salva", :class => "btn btn-primary" %>
							<button type="button" class="btn btn-default" ng-click="$hide()">Chiudere</button>
						</div>
					</div>
				<% end %>
			</div>
			<div class="modal-footer">
				<iframe name="iframe" id="iframe" style="display:none" ></iframe>
				<script type="text/javascript">
				$("#iframe").on("load", function(e){
					var errors = $(this).contents().find("body").text();
					if(errors && !(/success/.test(errors))){
						var errs = JSON.parse(errors);
						var errorsList = $(".leaseFormErrors").html("");
						errs.forEach(function(err){
							errorsList.append("<li>" + err + "</li>");
						});
					}
					else if (errors && /success/.test(errors)){
						window.location = "/leases";
					}
				});
				</script>
				<ul class="danger leaseFormErrors">
				</ul>
			</div>
		</div>
	</div>
</div>