<div class="modal-header">
	<h3>Nuova Registrazione per Appartamento <%= @apartment.name %>, Locazione <%= @lease.users.first.name %></h3>
</div>

<%= form_for @lease, html: {:novalidate => "novalidate", name: "leaseForm", class: "form-horizontal" } do |f| %>
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[registration_date]'].$dirty && leaseForm['lease[registration_date]'].$invalid }">
		<%= f.label :registration_date, :class => "col-sm-3 control-label" %>
		<div class="col-sm-4">
			<div class="input-group">
				<%= f.text_field :registration_date, :class => "form-control", :"datepicker-popup" => "dd-MM-yyyy", :placeholder => "Data di registrazione", :"ng-model" => "registration_date", :"ng-required" => true, :"is-open" => "opened3" %>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, 3)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
			</div>
			<span class="error-message" ng-show="leaseForm['lease[registration_date]'].$dirty && leaseForm['lease[registration_date]'].$invalid">Data di registrazione è richiesta.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[registration_number]'].$dirty && leaseForm['lease[registration_number]'].$invalid }">
		<%= f.label :registration_number, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :registration_number, :class => "form-control", :placeholder => "Numero di registrazione", :"ng-model" => "registration_number", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[registration_number]'].$dirty && leaseForm['lease[registration_number]'].$invalid">Numero di registrazione è richiesto.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':leaseForm['lease[registration_agency]'].$dirty && leaseForm['lease[registration_agency]'].$invalid }">
		<%= f.label :registration_agency, :class => "col-sm-3 control-label" %>	
		<div class="col-sm-9">
			<%= f.text_field :registration_agency, :class => "form-control", :placeholder => "Agenzia di registrazione", :"ng-model" => "registration_agency", :"ng-required" => true %>
			<span class="error-message" ng-show="leaseForm['lease[registration_agency]'].$dirty && leaseForm['lease[registration_agency]'].$invalid">Agenzia di registrazione è richiesta.</span>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<%= f.submit "Registrato", :class => "btn btn-lg btn-primary", :"ng-disabled" => "leaseForm.$invalid"%>
		</div>
	</div>
<% end %>