<div ng-controller="registrationFormController">
	<div class="modal-header">
		<h3>Nuova Registrazione per Appartamento <%= @apartment.name %>, Locazione <%= @lease.users.first.name %></h3>
	</div>

	<div class="modal-body">
		<%= form_for @lease, html: {:novalidate => "novalidate", name: "registrationForm", class: "form-horizontal", :multipart => true } do |f| %>
			<div class="form-group" ng-class="{'has-error':registrationForm['lease[registration_date]'].$dirty && registrationForm['lease[registration_date]'].$invalid }">
				<%= f.label :registration_date, :class => "col-sm-3 control-label" %>
				<div class="col-sm-4">
					<div class="input-group">
						<%= f.text_field :registration_date, :class => "form-control", :"datepicker-popup" => "dd-MM-yyyy", :placeholder => "Data di registrazione", :"ng-model" => "registration_date", :"ng-required" => true, :"is-open" => "opened" %>
		                <span class="input-group-btn">
		                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		                </span>
					</div>
					<span class="error-message" ng-show="registrationForm['lease[registration_date]'].$dirty && registrationForm['lease[registration_date]'].$invalid">Data di registrazione è richiesta.</span>
				</div>
			</div>
	
			<div class="form-group" ng-class="{'has-error':registrationForm['lease[registration_number]'].$dirty && registrationForm['lease[registration_number]'].$invalid }">
				<%= f.label :registration_number, :class => "col-sm-3 control-label" %>	
				<div class="col-sm-9">
					<%= f.text_field :registration_number, :class => "form-control", :placeholder => "Numero di registrazione", :"ng-model" => "registration_number", :"ng-required" => true %>
					<span class="error-message" ng-show="registrationForm['lease[registration_number]'].$dirty && registrationForm['lease[registration_number]'].$invalid">Numero di registrazione è richiesto.</span>
				</div>
			</div>
	
			<div class="form-group" ng-class="{'has-error':registrationForm['lease[registration_agency]'].$dirty && registrationForm['lease[registration_agency]'].$invalid }">
				<%= f.label :registration_agency, :class => "col-sm-3 control-label" %>	
				<div class="col-sm-9">
					<%= f.text_field :registration_agency, :class => "form-control", :placeholder => "Agenzia di registrazione", :"ng-model" => "registration_agency", :"ng-required" => true %>
					<span class="error-message" ng-show="registrationForm['lease[registration_agency]'].$dirty && registrationForm['lease[registration_agency]'].$invalid">Agenzia di registrazione è richiesta.</span>
				</div>
			</div>
	
			<%= f.fields_for :lease_attachments, @lease.lease_attachments.build do |la| %>
				<div class="form-group">
					<%= la.label :document, "Documente", :class => "col-sm-3 control-label" %>	
					<div class="col-sm-9">
						<p><%= la.file_field :document, :placeholder => "Documente" %><br/>
							<strong>E questo il documento di locazione?</strong><br />
							<label class="control-label">Si</label> <%= la.check_box :lease_document %>
						</p>
						<p><a href="#" class="extra-file">Un altro file</a></p>
					</div>
				</div>
			<% end %>
	
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<%= f.submit "Registrato", :class => "btn btn-lg btn-primary", :"ng-disabled" => "registrationForm.$invalid"%>
				</div>
			</div>
		<% end %>
	</div>
	<div class="modal-footer">
		<ul class="danger registrationFormErrors">
		</ul>
		<a href="#" ng-click="closeForm($event)">chiudere</a>
	</div>
</div>