<div class="row">
	<div class="col-xs-12">
		<h3>Modificare Configurazione</h3>
		<hr />
	</div>
</div>

<div class="row" ng-controller="setupFormController">
	<div class="col-xs-12">
		<% if @setup.errors.any? %>
			<div class="alert alert-danger">
				<strong>Il formulario non è valido.</strong><br />
				<ul>
					<% for message in @setup.errors.full_messages %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<%= form_for @setup, html: {:novalidate => "novalidate", name: "setupForm", class: "form-horizontal" } do |f| %>
		
			<div class="form-group" ng-class="{'has-error':setupForm['setup[erli_admin_email]'].$dirty && setupForm['setup[erli_admin_email]'].$invalid }">
				<%= f.label :erli_admin_email, "Email di Amministrazione", :class => "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.email_field :erli_admin_email, :class => "form-control", :placeholder => "Email di Amministrazione", :"ng-model" => "erli_admin_email", :"ng-required" => true %>
					<span class="error-message" ng-show="setupForm['setup[erli_admin_email]'].$dirty && setupForm['setup[erli_admin_email]'].$invalid">Email di Amministazione è richiesto.</span>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error':setupForm['setup[erli_mav_email]'].$dirty && setupForm['setup[erli_mav_email]'].$invalid }">
				<%= f.label :erli_mav_email, "Email di MAV", :class => "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.email_field :erli_mav_email, :class => "form-control", :placeholder => "Email di MAV", :"ng-model" => "erli_mav_email", :"ng-required" => true %>
					<span class="error-message" ng-show="setupForm['setup[erli_mav_email]'].$dirty && setupForm['setup[erli_mav_email]'].$invalid">Email di MAV è richiesto.</span>
				</div>
			</div>
			
			<div class="form-group">
				<%= f.label :erli_mav_email_active, "Email di MAV abilitato", :class => "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<p style="margin-top: 5px;"><%= f.check_box :erli_mav_email_active %></p>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error':setupForm['setup[iva]'].$dirty && setupForm['setup[iva]'].$invalid }">
				<%= f.label :iva, "Percentuale di IVA", :class => "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :iva, :class => "form-control", :placeholder => "Percentuale di IVA", :"ng-model" => "iva", :"ng-required" => true %>
					<span class="error-message" ng-show="setupForm['setup[iva]'].$dirty && setupForm['setup[iva]'].$invalid">Percentuale di IVA è richiesto.</span>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error':setupForm['setup[istat]'].$dirty && setupForm['setup[istat]'].$invalid }">
				<%= f.label :istat, "Percentuale di ISTAT", :class => "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :istat, :class => "form-control", :placeholder => "Percentuale di ISTAT", :"ng-model" => "istat", :"ng-required" => true %>
					<span class="error-message" ng-show="setupForm['setup[istat]'].$dirty && setupForm['setup[istat]'].$invalid">Percentuale di ISTAT è richiesto.</span>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error':setupForm['setup[unpaid_sentence]'].$dirty && setupForm['setup[unpaid_sentence]'].$invalid }">
				<%= f.label :unpaid_sentence, "Frase non pagato", :class => "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_area :unpaid_sentence, :placeholder => "Frase non pagato", :class => "form-control", :"ng-model" => "unpaid_sentence", :"ng-required" => true %>
					<span class="error-message" ng-show="setupForm['setup[unpaid_sentence]'].$dirty && setupForm['setup[unpaid_sentence]'].$invalid">Frase non pagato è richiesta.</span>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error':setupForm['setup[balance_expenses]'].$dirty && setupForm['setup[balance_expenses]'].$invalid }">
				<%= f.label :balance_expenses, "Data di bilanciare le spese", :class => "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :balance_expenses, :class => "form-control", :placeholder => "Data di bilanciare le spese", :"ng-model" => "balance_expenses", :"ng-required" => true %>
					<span class="error-message" ng-show="setupForm['setup[balance_expenses]'].$dirty && setupForm['setup[balance_expenses]'].$invalid">Data di bilanciare le spese è richiesta.</span>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error':setupForm['setup[mav_expiration]'].$dirty && setupForm['setup[mav_expiration]'].$invalid }">
				<%= f.label :mav_expiration, "Giorno di scadenza del MAV", :class => "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :mav_expiration, :class => "form-control", :placeholder => "Giorno di scadenza del MAV", :"ng-model" => "mav_expiration", :"ng-required" => true %>
					<span class="error-message" ng-show="setupForm['setup[mav_expiration]'].$dirty && setupForm['setup[mav_expiration]'].$invalid">Giorno di scadenza del MAV è richiesta.</span>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error':setupForm['setup[invoice_generation]'].$dirty && setupForm['setup[invoice_generation]'].$invalid }">
				<%= f.label :invoice_generation, "Giorno di generazione della fattura", :class => "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :invoice_generation, :class => "form-control", :placeholder => "Giorno di generazione della fattura", :"ng-model" => "invoice_generation", :"ng-required" => true %>
					<span class="error-message" ng-show="setupForm['setup[invoice_generation]'].$dirty && setupForm['setup[invoice_generation]'].$invalid">Giorno di generazione della fattura è richiesta.</span>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error':setupForm['setup[invoice_delivery]'].$dirty && setupForm['setup[invoice_delivery]'].$invalid }">
				<%= f.label :invoice_delivery, "Giorno di consegna della fattura", :class => "col-sm-3 control-label" %>
				<div class="col-sm-9">
					<%= f.text_field :invoice_delivery, :class => "form-control", :placeholder => "Giorno di consegna della fattura", :"ng-model" => "invoice_delivery", :"ng-required" => true %>
					<span class="error-message" ng-show="setupForm['setup[invoice_delivery]'].$dirty && setupForm['setup[invoice_delivery]'].$invalid">Giorno di consegna della fattura è richiesta.</span>
				</div>
			</div>
	
			<div class="col-sm-9 col-sm-offset-3">
				<%= f.submit :class => "btn btn-lg btn-primary", :"ng-disabled" => "setupForm.$invalid"%>
			</div>
		<% end %>
	</div>
</div>