<% if @apartment.errors.any? %>
	<div class="alert alert-danger">
		<strong>Il formulario non è valido.</strong><br />
		<ul>
			<% for message in @apartment.errors.full_messages %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @apartment, html: {:novalidate => "novalidate", name: "apartmentForm", class: "form-horizontal" } do |f| %>
	<div class="form-group" ng-class="{'has-error':apartmentForm['apartment[name]'].$dirty && apartmentForm['apartment[name]'].$invalid }">
		<%= f.label :name, "Nome", :class => "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :name, :class => "form-control", :placeholder => "Name", :"ng-model" => "name", :"ng-required" => true %>
			<span class="error-message" ng-show="apartmentForm['apartment[name]'].$dirty && apartmentForm['apartment[name]'].$invalid">Name is required.</span>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :rooms, "Numero di Camere", :class => "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.select :rooms, options_for_select([1, 2, 3, 4, 5], @apartment.rooms), :class => "form-control"%>
		</div>
	</div>
	
	<div class="col-sm-9 col-sm-offset-3">
		<%= f.hidden_field :building_id, :value => cookies[:building] %>
		<%= f.submit :class => "btn btn-lg btn-primary", :"ng-disabled" => "apartmentForm.$invalid"%>
	</div>
<% end %>