<% if @apartment.errors.any? %>
	<div class="alert alert-danger">
		<strong>Il formulario non è valido.</strong><br />
		<ul>
			<% for message in @apartment.errors.full_messages %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @apartment, html: {:novalidate => "novalidate", name: "apartmentForm", class: "form-horizontal" } do |f| %>
	<div class="form-group" ng-class="{'has-error':apartmentForm['apartment[name]'].$dirty && apartmentForm['apartment[name]'].$invalid }">
		<%= f.label :name, "Nome", :class => "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :name, :class => "form-control", :placeholder => "Name", :"ng-model" => "name", :"ng-required" => true %>
			<span class="error-message" ng-show="apartmentForm['apartment[name]'].$dirty && apartmentForm['apartment[name]'].$invalid">Nome e richiesto.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':apartmentForm['apartment[floor]'].$dirty && apartmentForm['apartment[floor]'].$invalid }" ng-init="floor=<%= @apartment.floor %>">
		<%= f.label :floor, "Piano", :class => "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :floor, :class => "form-control", :placeholder => "Piano", :"ng-model" => "floor", :"ng-required" => true %>
			<span class="error-message" ng-show="apartmentForm['apartment[floor]'].$dirty && apartmentForm['apartment[floor]'].$invalid">Piano e richiesto.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error':apartmentForm['apartment[rooms]'].$dirty && apartmentForm['apartment[rooms]'].$invalid }" ng-init="rooms=<%= @apartment.rooms %>">
		<%= f.label :rooms, "Numero di Camere", :class => "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :rooms, :class => "form-control", :placeholder => "Numero di Camere", :"ng-model" => "rooms", :"ng-required" => true %>
			<span class="error-message" ng-show="apartmentForm['apartment[rooms]'].$dirty && apartmentForm['apartment[rooms]'].$invalid">Numero di camere e richiesto.</span>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :dimension, "Dimensione (m²)", :class => "col-sm-3 control-label" %>
		<div class="col-sm-9">
			<%= f.text_field :dimension, :class => "form-control", :placeholder => "Metri Quadrati" %>
		</div>
	</div>
	
	<div class="col-sm-9 col-sm-offset-3">
		<%= f.hidden_field :building_id, :value => cookies[:building] %>
		<%= f.submit "Aggiungi", :class => "btn btn-lg btn-primary", :"ng-disabled" => "apartmentForm.$invalid"%>
	</div>
<% end %>