<div class="row">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3><%= Building.find(cookies[:building]).name %>: Appartamento</h3>
		<p class="text-right"><%= link_to "Aggiungi Appartamento", new_apartment_path %></p>
		<% if @apartments.length > 0 %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Piano</th>
						<th>Camere</th>
						<th>Dimensione</th>
						<th>Aggiornato</th>
						<th colspan="2">Azioni</th>
					</tr>
				</thead>
				<tbody>
					<% @apartments.each do |apartment| %>
						<tr>
							<td><%= apartment.name %></td>
							<td><%= apartment.floor %></td>
							<td><%= apartment.rooms %></td>
							<td><%= apartment.dimension %> (m<sup>2</sup>)</td>
							<td><%= apartment.updated_at.strftime("%d-%m-%Y") %></td>
							<td><%= link_to "Modifica", edit_apartment_path(apartment.id) %></td>
							<td><%= link_to "Rimuovi", apartment_path(apartment.id), :"data-confirm" => "Sei securo?", method: :delete %></td>
						</tr>
					<% end %>
					
				</tbody>
			</table>
		<% else %>
			<p>Attualmente non ci sono appartamenti disponibili</p>
		<% end %>
	</div>
</div>