<div style="background: #fff;box-sizing:border-box;padding:20px;">
	<% if @alarm.errors.any? %>
		<div class="alert alert-danger">
			<strong>La forma non e valida.</strong><br />
			<ul>
				<% for message in @alarm.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= form_for @alarm, html: {:novalidate => "novalidate", name: "unpaidAlarmForm", class: "form-horizontal", :multipart => true } do |f| %>
		<div class="form-group" ng-class="{'has-error':unpaidAlarmForm['unpaid_alarm[body]'].$dirty && unpaidAlarmForm['unpaid_alarm[body]'].$invalid }">
			<%= f.label :body, "Testo", :class => "control-label col-sm-3" %>
			<div class="col-sm-9">
				<%= f.text_area :body, :class => "form-control", :placeholder => "Testo", :"ng-model" => "body", :"ng-required" => true, :rows => 12 %>
				<span class="error-message" ng-show="unpaidAlarmForm['unpaid_alarm[body]'].$dirty && unpaidAlarmForm['unpaid_alarm[body]'].$invalid">Testo è richiesto.</span>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error':unpaidAlarmForm['unpaid_alarm[days]'].$dirty && unpaidAlarmForm['unpaid_alarm[days]'].$invalid }" ng-init="days='<%= @alarm.days %>'">
			<%= f.label :days, "Dopo Numero di Giorni", :class => "control-label col-sm-3" %>
			<div class="col-sm-9">
				<%= f.text_field :days, :class => "form-control", :placeholder => "Dopo Numero di Giorni", :"ng-model" => "days", :"ng-required" => true %>
				<span class="error-message" ng-show="unpaidAlarmForm['unpaid_alarm[days]'].$dirty && unpaidAlarmForm['unpaid_alarm[days]'].$invalid">Dopo Numero di Giorni è richiesto.</span>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3">
				<%= f.hidden_field :building_id, :value => cookies[:building] %>
				<%= f.submit :class => "btn btn-lg btn-primary", :"ng-disabled" => "unpaidAlarmForm.$invalid"%>
			</div>
		</div>
	<% end %>
</div>