<div class="row">
	<div class="col-sm-12">
		<% if flash[:notice] %>
			<div class="alert alert-success"><%= flash[:notice] %></div>
		<% elsif flash[:alert] %>
			<div class="alert alert-danger"><%= flash[:alert] %></div>
		<% end %>
		
		<h3>Allarmi non Pagati</h3>
		<p class="text-right"><%= link_to "Creare Allarme non Pagato", new_unpaid_alarm_path %></p>
		<% if @alarms.length > 0 %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Testo</th>
						<th>Giorni</th>
						<th colspan="2">Azioni</th>
					</tr>
				</thead>
				<tbody>
					<% @alarms.each do |alarm| %>
						<tr>
							<td><%= truncate(alarm.body,:length => 50) %></td>
							<td><%= alarm.days %></td>
							<td><%= link_to "Modificare", edit_unpaid_alarm_path(alarm.id) %></td>
							<td><%= link_to "Cancellare", unpaid_alarm_path(alarm.id), :"data-confirm" => "Sei securo?", method: :delete %></td>
						</tr>
					<% end %>
					
				</tbody>
			</table>
		<% else %>
			<p>Attualmente non ci sono allarmi non pagati disponibili</p>
		<% end %>
	</div>
</div>