<% if logged_user.admin? %>
	<li><%= link_to "Allarmi", root_path %></li>
	<li><%= link_to "Contratti", leases_path %></li>
	<li><%= link_to "Spese per Appartamento", apartment_expenses_path %></li>
	<li><%= link_to "Spese Edificio", building_building_expenses_path(cookies[:building]) %></li>
	<li><%= link_to "Fatture", invoices_path %></li>
	<li><%= link_to "Fatture Confermati", confirmed_invoices_path %></li>
	<li><%= link_to "CSV per MAVs", csvs_mavs_path %></li>
	<li><%= link_to "MAVs", mavs_path %>
	<li><%= link_to "Situazione Insolventi", unpaid_mavs_path %></li>
	<li><%= link_to "Email non Pagati", unpaid_emails_path %></li>
	<li><%= link_to "Allarmi non Pagati", unpaid_alarms_path %></li>
	<li><%= link_to "Avvertenze non Pagati", unpaid_warnings_path %></li>
	<li><%= link_to "Approvare Annunci", administration_ads_path %></li>
<% else %>
	<li><%= link_to "Inizio", root_path %></li>
	<li><%= link_to "Documenti di Locazione", contract_users_path %></li>
	<li><%= link_to "Fatture", invoices_users_path %></li>
	<li><%= link_to "MAV", mavs_users_path %></li>
	<li><%= link_to "I Tuoi Annunci", personal_ads_ads_path %></li>
	<li><%= link_to "Annunci", ads_path %></li>
	<li><%= mail_to Setup.where("building_id = ?", cookies[:building]).first.try(:erli_admin_email), "Contattare" %></li>
<% end %>