<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width initial-scale=1">
  	<title>Erli</title>
  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<%= render :partial => "layouts/nav" %>
	
	<div class="<%= cookies[:building].present? ? "container-fluid" : "container" %>">
		<div class="row">
			<div class="col-xs-12 border-left">
				<% if logged_in? && cookies[:building].present? %>
					<div id="wrapper" style="background:url(<%= @main_building.background.opaque.url %>) left top;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">				
					    <div id="sidebar-wrapper">
					        <ul class="sidebar-nav">
								<%= render :partial => "layouts/navigation_links" %>
					        </ul>
					    </div>
						
					    <div id="page-content-wrapper">
					        <div class="container-fluid">
								<%= yield %>
					        </div>
					    </div>
					</div>
				<% else %>
					<%= yield %>
				<% end %>
			</div>
		</div>
	</div>
	<%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>
</body>
</html>
