<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width initial-scale=1">
  	<title>Erli</title>
  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "layouts/nav" %>
	
	<div class="<%= cookies[:building].present? ? "container-fluid" : "container" %>">
		<div class="row">
			<div class="col-xs-12 border-left">
				<% if logged_in? && cookies[:building].present? %>
					<div id="wrapper" style="background:url(<%= @main_building.background.opaque.url %>) left top;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">				
						<% if logged_user.admin? %>
						    <div id="sidebar-wrapper">
						        <ul class="sidebar-nav">
						            <li><%= link_to "Inizio", root_path %></li>
									<li><%= link_to "Locazioni", leases_path %></li>
									<li><%= link_to "Spese di Condominio", apartment_expenses_path %></li>
									<li><%= link_to "Spese Genreale", building_building_expenses_path(cookies[:building]) %></li>
									<li><%= link_to "Fatture", invoices_path %></li>
									<li><a href="#">Situazione Insolventi</a></li>
									<li><a href="#">Agenda</a></li>
									<li><a href="#">Messages</a></li>
									<li><%= link_to "Approvare Annunci", administration_ads_path %></li>
						        </ul>
						    </div>
						<% else %>
						    <div id="sidebar-wrapper">
						        <ul class="sidebar-nav">
									<li><%= link_to "Inizio", root_path %></li>
									<li><%= link_to "Documenti di Locazione", contract_users_path %></li>
									<li><%= link_to "Fatture", invoices_users_path %></li>
									<li><%= link_to "MAV", mavs_users_path %></li>
									<li><%= link_to "I Tuoi Annunci", personal_ads_ads_path %></li>
									<li><%= link_to "Annunci", ads_path %></li>
									<li><%= mail_to Setup.where("building_id = ?", cookies[:building]).first.try(:erli_admin_email), "Contattare" %></li>
								</ul>
							</div>
						<% end %>
						
					    <div id="page-content-wrapper">
					        <div class="container-fluid">
								<%= yield %>
					        </div>
					    </div>
					</div>
				<% else %>
					<%= yield %>
				<% end %>
			</div>
		</div>
	</div>
	<%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>
</body>
</html>
