<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width initial-scale=1">
  	<title>Erli</title>
  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "layouts/nav" %>
	
	<div class="<%= cookies[:building].present? ? "container-fluid" : "container" %>">
		<div class="row">
			<div class="col-xs-12 border-left">
				<% if logged_in? && cookies[:building].present? %>
					<div id="wrapper">
					    <div id="sidebar-wrapper">
					        <ul class="sidebar-nav">
					            <li><%= link_to "Home", root_path %></li>
								<li><a href="#">Contracts</a></li>
								<li><a href="#">Spese di Condominio</a></li>
								<li><a href="#">Spese Generali</a></li>
								<li><a href="#">Fatture</a></li>
								<li><a href="#">Situazione Insolventi</a></li>
								<li><a href="#">Agenda</a></li>
								<li><a href="#">Messages</a></li>
								<li><a href="#">ADs To Be Approved</a></li>
					        </ul>
					    </div>
					    <div id="page-content-wrapper">
					        <div class="container-fluid">
								<%= yield %>
					        </div>
					    </div>
					</div>
				<% else %>
					<%= yield %>
				<% end %>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function(){
			$(".default-building").on("change", function(){
				$(this).submit();
			});
		});
		$(".table-collapsed .child-table").hide();
		$(".table-collapsed a.toggle-table").on("click", function(e){
			e.preventDefault();
			$(this).parent().parent().next().toggle("slow");
		});	
	</script>
</body>
</html>
