<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<title>Erli</title>
  	<%= wicked_pdf_stylesheet_link_tag 'application' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body class="invoice">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 border-left">
				<div class="row">
					<div class="col-xs-5 address">
						<p><strong><%= company.name %></strong></p>
						<p><%= company.address %> <%= company.home_number %> <%= company.cap %> - <%= company.localita %></p>
						<p>Partita IVA <%= company.partita_iva %></p>
						<p>Tel / Fax <%= company.phone %></p>
					</div>
					<div class="col-xs-4 col-xs-offset-3 invoice-info">
						<div class="row">
							<div class="col-xs-6">
								<p><%= company.localita.upcase %></p>
							</div>
							<div class="col-xs-6">
								<p class="text-right"><strong><%= invoice_date.strftime("%d/%m/%Y") %></strong></p>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-xs-6">
								<p>FATTURA N.</p>
							</div>
							<div class="col-xs-6">
								<p class="text-right"><strong><%= invoice.number %></strong></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr class="divider" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 codice">
						<% tenants = lease.users.where(:secondary => false).all %>
						<% tenants.each do |user| %>
							<% if user.partita_iva? %>
								<p>Partita IVA cliente: <span><%= user.codice_fiscale %></span></p>
							<% else %>
								<p>Cod. fisc. cliente: <span><%= user.codice_fiscale %></span></p>
							<% end %>
						<% end %>
					</div>
					<div class="col-xs-6 tenant">
						<p class="name">
							<% if tenants.size <= 3 %>
								<%= tenants.map { |t| "#{t.last_name.upcase} #{t.first_name.upcase}" }.join(" - ") %>
							<% else %>
								<%= tenants.map {|t| t.last_name.upcase }.join(" - ") %>
							<% end %>
						</p>
						<hr />
						<div class="col-xs-6" style="margin-left:-15px">
							<p><%= lease.invoice_address %><br />
							<%= lease.cap %> <%= lease.localita.upcase %></p>
						</div>
						<div class="col-xs-6">
							<p><% if lease.home_number.present? %> N.<%= lease.home_number %><br /><% end %>
								Prov. <%= lease.provincia %></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr class="divider" />
					</div>
				</div>
				<div class="row">
					<% building = lease.apartment.building %>
					<div class="expense col-xs-12">
						<% if rent = invoice.invoice_charges.select {|i| i.kind == "rent" }.first %>
							<div class="row">
								<p class="col-xs-9">CANONE DI LOCAZIONE PER LOCALE SITO IN <%= [building.address, building.home_number, building.cap, building.localita, building.provincia].join(" ") %><br />
									<%= month_description %>
								</p>
								<p class="col-xs-2 text-right"><%= number_to_currency(rent.amount) %></p>
							</div>
						<% end %>
						<% expenses_with_iva = invoice.invoice_charges.select {|i| i.kind == "building_expense" && !i.iva_exempt} %>
						<% expenses_without_iva = invoice.invoice_charges.select {|i| i.kind == "building_expense" && i.iva_exempt} %>
						
						<% expenses_with_iva_total = expenses_with_iva.map(&:amount).sum %>
						<% expenses_without_iva_total = expenses_without_iva.map(&:amount).sum %>
						<% expenses_with_iva_names = expenses_with_iva.map {|i| i.asset_expense.expense.name }.join(", ") %>
						<% expenses_without_iva_names = expenses_without_iva.map {|i| i.asset_expense.expense.name.upcase }.join(", ") %>
						
						<% if expenses_with_iva_total > 0 %>
							<div class="row">
								<p class="col-xs-9">CONTO SPESE <%= expenses_with_iva_names %> SALVO CONGUAGLIO</p>
								<p class="col-xs-2 text-right"><%= number_to_currency(expenses_with_iva_total) %></p>
							</div>
						<% end %>
						
						<% if expenses_without_iva_total > 0 %>
							<div class="row">
								<p class="col-xs-9">CONTO SPESE <%= expenses_without_iva_names %> SALVO CONGUAGLIO</p>
								<p class="col-xs-2 text-right"><%= number_to_currency(expenses_without_iva_total) %></p>
							</div>
						<% end %>
						
						<% apartment_expenses = invoice.invoice_charges.select {|i| i.kind == "apartment_expense" } %>
						<% unique = {} %>
						<% apartment_expenses.each {|a| unique[a.asset_expense.expense.name] ||= []; unique[a.asset_expense.expense.name] << a;}%>
						<% apartment_expenses_total = apartment_expenses.map(&:amount).sum %>
						
						<% unique.each do |k, v| %>
							<div class="row">
								<p class="col-xs-9"><%= k %></p>
								<p class="col-xs-2 text-right"><%= number_to_currency(v.map(&:amount).sum) %></p>
							</div>
						<% end %>
						
						<% custom_expenses = invoice.invoice_charges.select {|i| i.kind == "custom_expense" } %>
						<% custom_expenses_iva = custom_expenses.select {|i| !i.iva_exempt} %>
						<% custom_expenses_no_iva = custom_expenses.select {|i| i.iva_exempt} %>
						<% custom_expenses_iva_total = custom_expenses_iva.map(&:amount).sum %>
						<% custom_expenses_no_iva_total = custom_expenses_no_iva.map(&:amount).sum %>
						
						<% custom_expenses.each do |e| %>
							<div class="row">
								<p class="col-xs-9"><%= e.name %></p>
								<p class="col-xs-2 text-right"><%= number_to_currency(e.amount) %></p>
							</div>
						<% end %>
						
						<% bollo = invoice.bollo || invoice.temporary_bollo %>
						<% bollo_total = bollo ? bollo.price : 0 %>
						<% if bollo %>
							<div class="row">
								<p class="col-xs-9">BOLLO</p>
								<p class="col-xs-2 text-right"><%= number_to_currency(bollo.price) %></p>
							</div>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr class="divider" />
					</div>
				</div>
				<!-- <div class="row">
					<div class="prestazioni col-xs-12">
						<div class="row">
							<p class="col-xs-12">PRESTAZIONI ESSENTIVA</p>
						</div>
						<div class="row">
							<p class="col-xs-9">TASSA REGISTRO CONTR. LOCAZ.</p>
							<p class="col-xs-2 text-right">9,00</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr class="divider" />
					</div>
				</div> -->
				<div class="row">
					<div class="col-xs-12 taxes">
						<div class="row">
							<% setup_iva = setup.iva || 0 %>
							<% rent_amount = rent ? rent.amount : 0 %>
							<% total_iva = [rent_amount,expenses_with_iva_total,apartment_expenses_total,custom_expenses_iva_total,bollo_total].sum %>
							<p class="col-xs-9">Imponibile:</p>
							<p class="col-xs-2 text-right amount"><%= number_to_currency(total_iva) %></p>
						</div>
						<div class="row">
							<% if lease.contract.try(:iva_exempt?) %>
								<% iva = 0 %>
								<p class="col-xs-9 text-right">IVA Fattura:</p>
								<p class="col-xs-2 text-right amount">0,00</p>
								<p class="col-xs-1 percentage"><%= number_to_percentage(setup_iva) %></p>
								<p class="col-xs-11 text-right iva">Essente IVA art. 10<br />
									n.8 D.P.R. 633772</p>
							<% else %>
								<% iva = setup_iva/100.0 * total_iva %>
								<p class="col-xs-9 text-right">IVA Fattura:</p>
								<p class="col-xs-2 text-right amount"><%= number_to_currency(iva) %></p>
								<p class="col-xs-1 percentage"><%= number_to_percentage(setup_iva) %></p>
							<% end %>
						</div>
						<% total_no_iva = [expenses_without_iva_total, custom_expenses_no_iva_total].sum %>
						<div class="row">
							<p class="col-xs-9">Imponibile Essente IVA:</p>
							<p class="col-xs-2 text-right amount"><%= number_to_currency(total_no_iva) %></p>
						</div>
						<% total = [total_iva, iva, total_no_iva].sum %>
						<div class="row">
							<p class="col-xs-9 text-right">Totale Fattura:</p>
							<p class="col-xs-2 text-right total amount"><%= number_to_currency(total) %></p>
						</div>
					</div>
				</div>
				<% if bollo %>
				<div class="row">
					<div class="col-xs-12">
						<p><strong>Imposta di bollo su originale ID n. <%= bollo.identifier %></strong></p>
					</div>
				</div>
				<% end %>
				<div class="row">
					<div class="col-xs-12">
						<hr class="divider" />
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 footer text-center">
						<p>Immobiliare <%= company.name %> <%= company.address %> <%= company.home_number %> <%= company.cap %> <%= company.localita %> - P. IVA <%= company.partita_iva %> - TEL/FAX <%= company.phone %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>